/*Estilos Grales*/
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/*Encabezado*/
header {
    background: #b3ead3;
    color: rgb(6, 71, 25);
    text-align: center;
    padding: 20px;
    margin: 20px;

}

header img {
    max-width: 100%;
   max-height: 100%;
   height: auto;
   width: auto;
}

/*Navegación*/
nav{
    background: #b0f8b8;
    padding: 10px;
}
nav ul{
    padding: 0;
    display: flex; /**/
    flex-direction: row; /*como quiero acomodar, columna, fila*/
    justify-content: space-around; /*distribuye de acuerdo al espacio entre los elementos*/
    align-items: center; /*de acuerdo a como pedi que este en flex-direction, como quiero que se ubiquen*/
}
nav ul li {
    /*display: inline;  /*para que no aparezcan los puntos de la lista*/
    list-style-type: none;  /*otra forma para que no aparezcan los puntitos*/
    margin: 0 15%;
}

nav ul li a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

/*contenido principal*/
main {
    display: flex;
    flex-wrap:wrap-reverse; /*acomoda de acuerdo al lugar que tengan*/
    justify-content:space-around;
    padding: 20px;
}

 .Nosotros { /*esto es una clase, nos sirve para replicar el estilo solo nombrando la clase sin copiar y pegar*/
    flex: 2;
    background: rgb(187, 227, 210);  /*color de fondo*/
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0,0.1);
    
}

section{
    flex: 2;
    background: rgb(203, 243, 206);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0,0.1);
}

/*Barra Lateral*/
aside {
    flex: 0.5;
    background: #85d68d;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;

}

/*Pie de página*/
footer{
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 20px;
}